<div class='container'>
	<header class='container-header'>Please sign in</header>
	<form class='standard' method='post' action='/sessions'>
		<p class='sign-up'><input name='username' type='text' placeholder='Username'></p>
		<p class='sign-up'><input name='password' type='password' placeholder='Password'></p>
		<p class='sign-up'><input class='button green' type='submit' value='Sign In'></p>
	</form>
	<a href='/users/forgotten_password'>Forgotten password?</a>
</div>