<div class='container' id ='new-hoot'>
	<header class='container-header'>&#9608Hoot Away</header>
	<form class='standard' action ='/hoots' method='post'>
		<p class='new-hoot-field'>Hoot: <input class='url-input' type='text' name='content' placeholder='hoot away...'></p>
		<p class='new-hoot-field'><input class='button green' type='submit' value='Hoot Away'></p>
	</form>
</div>