<div class='container' id ='new-hoot'>
	<header class='container-header'>&#9608Hoot Away</header>
	<form class='standard' action ='/hoots' method='post'>
		<p class='sign-up'><input class='hoot-input' type='text' name='content' placeholder='Hoot away...'></p>
		<p class='sign-up'><input class='button green' type='submit' value='Hoot Away'></p>
	</form>
</div>