<div id='hoot-daddy' class='container'>
	<header class='container-header'>&#9608Hoot Daddy</header>
	<ul>
			<%= partial :hoot, :locals => {:hoot => @hoot} %>
	</ul>
</div>

<div id='hoot-em-backs' class='container'>
	<header class='container-header'>&#9608Hoot 'Em Backs</header>
	<ul>
		<% @replies.each do |reply| %>
			<%= partial :reply, :locals => {:reply => reply} %>
		<% end %>
	</ul>
</div>

<%= partial :hoot_em_back %>