<div class='container'>
	<header class='container-header'>
		Enter your username to reset your password
	</header>
	<form class='standard' method='post' action='reset_password'>
		Username:<input type='text' name='username'>
		<input class='button green' type='submit' value='Reset'>
	</form>
</div>