<div class='container'>
	<header class='container-header'>
		Enter your username to reset your password
	</header>
	<form class='standard' method='post' action='reset_password'>
		<p class='sign-up'><input type='text' name='username' placeholder='Username'></p>
		<p class='sign-up'><input class='button green' type='submit' value='Reset'></p>
	</form>
</div>