<% @hoots.each do |hoot| %>

	<div class='container hoot-daddy'>
		<header class='container-header'>&#9608Hoot Daddy</header>
		<ul>
				<%= partial :hoot, :locals => {:hoot => hoot} %>
				<div id=class='container hoot-em-backs'>
					<header class='container-header'>&#9608Hoot 'Em Backs</header>
					<ul>
						<% relevant_replies = @replies.all(:hoot => hoot) %>
						<% relevant_replies.each do |reply| %>
							<%= partial :reply, :locals => {:reply => reply} %>
						<% end %>
					</ul>
				</div>
		</ul>
	</div>

<% end %>