<div id='sign-up-form' class='container'>
	<header class='container-header'>&#9608 Please sign up</header>
	<form class='standard' action='/users' method='post'>
		<fieldset>
			<p class='sign-up'><input name='name' type='text' placeholder='Name'></p>
			<p class='sign-up'><input name='username' type='text' placeholder='Username'></p>
			<p class='sign-up'><input name='email' type ='text' placeholder='Email'></p>
			<p class='sign-up'><input name='password' type='password' placeholder='Password'></p>
			<p class='sign-up'><input name='password_confirmation' type='password' placeholder='Confirm Password'></p>
			<p class='sign-up'><input class='button green' type='submit' value='Sign Up'></p>
		</fieldset>
	</form>
</div>