<div class='container'>
	<header class='container-header'>
		Welcome <%= @user.email %>, enter a new password
	</header>
	<form class='standard' action='/users/confirm_reset_password' method='post'>
			<p class='sign-up'><input type='password' name='new_password' placeholder='Password'></p>
			<p class='sign-up'><input type='password' name='new_password_confirmation' placeholder='Confirm Password'></p>
			<input type='hidden' name='token' value=<%= @token %> >
			<p class='sign-up'><input class='button green' type='submit' value='Reset'></p>
	</form>
</div>