<% if current_user %>
	<div class='container' id ='new-hoot'>
		<header class='container-header'>&#9608Hoot 'Em Back</header>
		<form class='standard' action ='/hoots/reply/new' method='post'>
			<input type='hidden' name='hoot_id' value=<%=@hoot.id %>>
			<p class='sign-up'><input class='url-input' type='text' name='content' placeholder='Hoot away...'></p>
			<p class='sign-up'><input class='button green' type='submit' value="Hoot 'Em Back"></p>
		</form>
	</div>
<% end %>